/*Criando o topo do site*/
#topo{
    width: 100%;
    height: 100px;
    border: 1px solid green;
    background-color: #167abc;
    color: #fff;
    text-transform: uppercase;
}

nav{

    position: absolute;
    top: 0px;
    left: 200px;

}

nav img{
    width: 25px;
    height: 25px;
}

/*Entensão de CSS Externo*/
body{
    background-color: honeydew;

}
/*Pai*/
ul{
   display: inline-block;
   width: 100%;
   height: 50px;

   
}
/*Filho*/
ul li{
    display: inline;
    padding-left: 80px;
}
/*Neto*/
ul li a{
    
    text-decoration: nome;
    color: black;
}
ul li a:hover{
    background-color: orangered;
    width: 35px;
    height: 35px;
}

#principal{
    width: 100%;
    height: 500px;
    border: 3px solid red;
    padding-top: 10px;
}bv

#rodape{
    width: 100%;
    height: 100px;
    border: 1px solid blueviolet;
}